.button {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  cursor: pointer;
}

.button--blue {
  @include transition;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    color: $bg-lightgrey;
    background-color: $blue-down;
  }

  &:disabled {
    background-color: $darkgrey;
  }
}
