.form-review {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 7.7%;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
  }
}

.form-review__item {
  padding: 0 6%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 27px;
  border: none;
  border-bottom: 1px solid $darkgrey;

  &--letter {
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 46px;
  }

  @media (min-width: $tablet-width) {
    padding: 20px 0;
    width: 100%;
    border-bottom: none;
    margin-bottom: 30px;

    &::after {
      content: none;
    }

    &--user-info {
      order: 2;
      width: 41%;
      text-align: left;
    }

    &--user-contacts {
      order: 3;
      margin-bottom: 15px;
      margin-top: 20px;
    }

    &--checkbox {
      order: 4;
      margin-bottom: 0;
      margin-top: 18px;
      padding: 0;
    }

    &--radio {
      order: 1;
      width: 50%;
      text-align: left;

      &::before {
        @include pseudo;
        bottom: 6%;
        right: 0;
        width: 1px;
        height: 292px;
        background-color: $darkgrey;
      }
    }

    &--letter {
      order: 5;
      padding: 0;
      margin-top: 38px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    &--user-info {
      width: 41.5%;
    }

    &--radio {
      width: 45%;
      padding-right: 48px;
    }

    &--user-contacts {
      margin-top: 19px;
      margin-bottom: 10px;
    }

    &--checkbox {
      overflow: hidden;
      margin-top: 0;
    }

    &--letter {
      margin-top: 36px;
    }
  }
}

.form-review__list {
  @include reset-list;

  &--checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    &--checkbox {
      justify-content: space-around;
      padding: 0 9.5%;
      padding-left: 11%;
      margin-top: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    &--user-contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 18px;
    }

    &--checkbox {
      padding: 0;
      justify-content: flex-start;
      text-align: right;
      margin-right: -50px;
      margin-top: 35px;
    }
  }
}

.form-review__title {
  @include font-bold;
  display: block;
  padding-top: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;

  &--radio {
    padding-top: 18px;
  }

  &--checkbox {
    margin-bottom: 15px;
  }

  &--letter {
    margin: 0;
    margin-bottom: 18px;
    padding-top: 15px;
  }

  @media (min-width: $tablet-width) {
    @include font-info (21px, 700, 26px);
    margin-bottom: 5px;

    &--user-contacts {
      padding-top: 0;
      margin-bottom: 5px;
    }

    &--user-info,
    &--radio {
      margin: 0;
      margin-bottom: 37px;
      text-align: left;
    }

    &--user-contacts,
    &--checkbox,
    &--letter {
      position: relative;

      &::before,
      &::after {
        @include pseudo;
        width: 46%;
        height: 1px;
        top: 12px;
        background-color: $darkgrey;
      }

      &::before {
        left: 335px;
      }

      &::after {
        right: 335px;
      }
    }

    &--checkbox {
      padding-top: 0;

      &::before,
      &::after {
        top: 25px;
      }
    }

    &--letter {
      margin-bottom: 56px;
      padding-top: 0;

      &::before,
      &::after {
        width: 49%;
      }

      &::before {
        left: 328px;
      }

      &::after {
        right: 328px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--radio {
      text-align: inherit;
      margin: 0 auto;
      margin-bottom: 37px;
    }

    &--user-contacts {
      padding-bottom: 31px;
    }

    &--user-contacts,
    &--checkbox {
      &::before,
      &::after {
        width: 100%;
      }

      &::before {
        left: 340px;
      }

      &::after {
        right: 340px;
      }
    }

    &--letter {
      &::before,
      &::after {
        width: 110%;
      }

      &::before {
        left: 330px;
      }

      &::after {
        right: 330px;
      }
    }
  }
}

.form-review__option {
  text-align: left;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  &--patronym,
  &--user-email {
    margin-bottom: 0;
  }

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 80px;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &--radio {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    box-sizing: border-box;
    margin-bottom: 22px;
    width: 211px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--user-contacts {
    flex-wrap: wrap;
    position: relative;

    &::before {
      @include pseudo;
      width: 58px;
      height: 57px;
      bottom: 0;
      right: 0;
      background-color: $darkgrey;
    }

    &::after {
      @include pseudo;
      width: 18px;
      height: 18px;
      bottom: 20px;
      right: 20px;
      background-repeat: no-repeat;
    }
  }

  &--user-tel {
    margin-bottom: 12px;

    &::after {
      background-image: url("../img/icon-phone.svg");
    }
  }

  &--user-email {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  @media (min-width: $tablet-width) {
    &--radio {
      padding-left: 75px;
      margin-bottom: 20px;
    }

    &--checkbox {
      padding-left: 80px;
      margin-bottom: 30px;
    }

    &--user-tel {
      margin-bottom: 22px;
    }
  }


  @media (min-width: $desktop-width) {
    &--user-contacts {
      flex-wrap: nowrap;
      width: 50%;

      &::before {
        top: 0;
      }
    }

    &--user-tel {
      width: 41.7%;
    }

    &--user-email {
      &::after {
        bottom: 40px;
      }
    }

    &--checkbox {
      width: 208px;
      margin-bottom: 30px;
      margin-right: 50px;
    }

    &--checkbox-slide {
      margin-right: 28px;
    }

    &--radio {
      margin-bottom: 20px;
      padding-left: 80px;
    }
  }
}

.form-review__label {
  @include font-info(14px, 400, 26px);
  color: $grey;
  margin-right: 5%;

  &--user-contacts {
    padding-left: 8%;
    margin-bottom: 7px;
    margin-right: 0;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    &--user-contacts {
      padding-left: 3.5%;
    }
  }

  @media (min-width: $desktop-width) {
    &--user-contacts {
      width: auto;
      margin-right: 16px;
      padding-left: 0;
    }

    &--user-email {
      width: 280px;
    }
  }
}

.form-review__item--user-info .form-review__label {
  @media (min-width: $desktop-width) {
    margin-right: 15px;
  }
}

.form-review__input {
  @include font-bold;
  color: $black;
  background-color: $white-three;
  border: 4px solid transparent;
  width: 100%;
  padding: 12px 6%;

  &--patronym {
    padding: 12px 7%;
  }

  &--textarea {
    padding: 10px 6%;
  }

  &--user-info {
    min-width: 0;
  }

  &:hover,
  &:focus {
    background-color: $darkgrey;
  }

  &:active {
    background-color: $white;
    border: 4px solid $darkgrey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 7%;

    &--textarea {
      padding: 13px 3%;
    }

    &--tel,
    &--email {
      padding-left: 3%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 17px;
  }
}

.form-review__input::placeholder {
  @include font-bold;
  color: $black;
}

.form-review__option--radio .form-review__label,
.form-review__option--checkbox .form-review__label {
  @include font-bold;
  text-transform: none;
  color: $black;
}

.form-review__input--radio {
  & + label::before {
    @include pseudo;
    left: 0;
    top: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: solid 5px $white-three;
    background-color: $white-three;
    cursor: pointer;
  }

  &:hover + label::before,
  &:focus + label::before {
    background-color: $darkgrey;
    border: solid 5px $darkgrey;
  }

  &:active + label::before {
    background-color: $grey-down;
    border: solid 5px $grey-down;
  }

  &:disabled + label::before {
    opacity: 0.1;
  }
}

.form-review__input--radio:checked {
  & + label::after {
    @include pseudo;
    left: 17px;
    top: 17px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid $grey;
    background-color: $grey;
  }

  &:active + label::after {
    opacity: 0.3;
  }

  &:disabled + label::after {
    opacity: 0.1;
  }
}

.form-review__input--checkbox {
  & + label::before {
    @include pseudo;
    left: 0;
    top: 0;
    width: 46px;
    height: 46px;
    border-radius: 10%;
    border: solid 5px $white-three;
    background-color: $white-three;
    cursor: pointer;
  }

  &:hover + label::before,
  &:focus + label::before {
    background-color: $darkgrey;
    border: solid 5px $darkgrey;
  }

  &:active + label::before {
    background-color: $grey-down;
    border: solid 5px $grey-down;
  }

  &:disabled + label::before {
    opacity: 0.1;
  }
}

.form-review__input--checkbox:checked {
  & + label::after {
    @include pseudo;
    left: 17px;
    top: 20px;
    height: 16px;
    width: 24px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }

  &:active + label::after {
    opacity: 0.3;
  }

  &:disabled + label::after {
    opacity: 0.1;
  }
}

.form-review__button {
  @include font-info(21px, 700, 26px);
  padding: 16px 0;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.form-review__legend-wrap {
  width: 100%;
  margin-top: 52px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 55px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.form-review__legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    @include font-info(14px, 400, 26px);
    color: $grey;
  }
}

.form-review__label-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
