.main-nav {
  margin-bottom: -20px;

  @media (min-width: $desktop-width) {
    @include container;
  }
}

.main-nav__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.main-nav__list {
  @include reset-list;
  background-color: $blue;
  box-shadow: inset - -3px 3px 0 $bg-grey;

  @media (min-width: $tablet-width) {
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.main-nav__logo {
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-nav__link {
  @include font-info(18px, 700, 40px);
  color: $white;
  padding: 20px;
  display: block;
  background-color: $blue;
  border-bottom: 1px solid $bg-darkgrey;
  box-shadow: 0 1px 0 0 $bg-grey, inset 0 1px 0 0 $bg-lightgrey;

  @media (min-width: $tablet-width) {
    @include font-info(14px, 700, 26px);
    color: $black;
    background-color: $white;
    border: none;
    box-shadow: none;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    min-width: 20%;

    &:nth-child(2) {
      margin-right: 20%;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 239px;
  }
}

.main-nav__item a[href] {
  &:hover {
    background-color: $blue-hover;
    box-shadow: 0 1px 0 0 $bg-grey, inset 0 1px 0 0 $bg-lightgrey;
  }

  &:active {
    color: $bg-lightgrey;
    background-color: $blue-down;
    box-shadow: 0 1px 0 0 $bg-grey, inset 0 1px 0 0 $bg-lightgrey;
  }

  @media (min-width: $tablet-width) {
    &:hover {
      color: $blue;
      background-color: $white;
      box-shadow: none;
    }

    &:active {
      color: $white-down;
      background-color: $white;
      box-shadow: none;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--hide .main-nav__toggle {
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--hide .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav__wrapper {
    padding: 0;
  }
}
