.page-footer {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 36px 8%;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    margin: 0 auto;
    padding: 36px 0;
  }
}

.page-footer__hashtag {
  @include font-info(21px, 700, 26px);
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 23px;
  width: 130px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}


.page-footer__copyright-text {
  @include font-info(14px, 400, 26px);
  margin-right: 13px;
}

.page-footer__copyright-link {
  @include transition;

  .page-footer__copyright-icon {
    &:hover,
    &:focus {
      fill: $blue;
    }

    &:active {
      fill: $white-down;
    }
  }
}
