.range {
  width: 280px;
}

.range__filter {
  height: 23px;
  background-color: $white-three;
  padding-top: 23px;
  padding-right: 20px;
  padding-left: 20px;
}

.range__scale {
  height: 3px;
  background-color: $black;
}
