.social-list {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item {
  background-color: $blue;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-list__link {
  @include transition;
  background-color: $blue;
  display: block;
  padding: 17px 13px;
  padding-bottom: 13px;

  &--fb {
    padding-top: 13px;
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
  }

  &:active .social-list__icon {
    fill: $bg-lightgrey;
  }
}

.social-list__icon {
  fill: $white;
}
