body {
  min-width: 320px;
  color: #000000;
  font-family: "PTSans", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
