@mixin font-info ($size: 14px, $weight: 400, $line-height: 24px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin font-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}
