$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$white: #ffffff;
$white-down: rgba(0, 0, 0, 0.3);
$black-opacity: rgba(0, 0, 0, 0.6);
$black: #000000;
$grey: #333333;
$bg-grey: rgba(0, 1, 1, 0.2);
$white-three: #f2f2f2;
$darkgrey:#e6e6e6;
$bg-lightgrey: rgba(255, 255, 255, 0.2);
$bg-darkgrey: rgba(0, 0, 0, 0.1);
$grey-down: #d5d5d5;
$grey-button:#5c6870;
$grey-button-down: #c2c2c2;
$white-opacity: rgba(255, 255, 255, 0.6);
$braun: #766357;
$braun-hover: #604e43;
$braun-down: rgba(118, 99, 87, 0.3);
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dppx: 2dppx;
